<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/3082/3082011.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.15/jspdf.plugin.autotable.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/listarCompras.css}">
<body>
<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="logo-text">
            <i class="fas fa-shopping-cart me-3"></i> Sistema de compras

            <div class="nav-actions">
          <span class="navbar-text me-3">
            <i class="bi bi-person-circle"></i>
            <strong><span sec:authentication="principal.username"></span></strong>
          </span>
            </div>
            <div class="mt-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-block" onclick="abrirVentana(this.href)" th:href="@{/principal}">
                    <i class="fas fa-home"></i> Menú Principal
                </a>
            </div>

            <div class="mt-3">
                <a th:href="@{/Inventario}" class="btn btn-secondary btn-back">Volver Atrás</a>
            </div>

        </div>
    </div>

    <ul class="list-unstyled components">
        <div class="menu-section-title">MENU PRINCIPAL</div>
        <li class="menu-item" sec:authorize="hasAnyRole('ADMIN', 'GERENTE')">
            <a th:href="@{/compras/listar}">
                <i class="fas fa-shopping-cart me-3"></i>
                Lista de Compras
            </a>
        </li>

        <li class="menu-item">
            <a href="#" data-bs-toggle="modal" data-bs-target="#agregarCompraModal">
                <i class="bi bi-bag-plus-fill"></i>
                Agregar compra
            </a>
        </li>
        <li class="menu-item">
            <a th:href="@{/proveedores/listar}">
                <i class="fas fa-truck me-2"></i> Lista de Proveedores
            </a>
        </li>
    </ul>

    <div class="menu-section-title mt-3">CONFIGURACIÓN</div>
    <ul class="list-unstyled">
        <div class="container mt-3">
            <!-- Botón Exportar PDF -->
            <div class="container mt-3">
                <div class="d-flex justify-content mb-3">
                    <button class="btn btn-primary" onclick="comprasPDF()">
                        <i class="fas fa-file-pdf me-3"></i> Exportar PDF
                    </button>
                </div>
                <!-- Botón Cerrar Sesión -->
                <div class="btn_cerrar">
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <button type="button" class="btn btn-danger" onclick="confirmLogout()">
                            <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </ul>
</nav>

<!-- Content -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>

    <div class="container">
        <h1 class="page-title">
            <i class="fas fa-shopping-cart me-3"></i>
            Sistema de Gestión de Compras
        </h1>
        <h2 class="page-subtitle">
            <i class="fas fa-list me-3"></i>
            Lista de Compras
        </h2>

        <!-- Buscador -->
        <div class="mb-3">
            <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                <input type="text" class="form-control" id="buscadorCompras" placeholder="Buscar por código, nombre o proveedor">
            </div>
        </div>

        <!-- Tabla de Compras -->
        <div id="table-container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th><i class="fas fa-hashtag me-2"></i>Código</th>
                    <th><i class="fas fa-truck me-1"></i>Proveedor</th>
                    <th><i class="fas fa-shopping-cart me-1"></i>Producto</th>
                    <th><i class="fas fa-calendar me-1"></i>Fecha</th>
                    <th><i class="fas fa-list-ol me-2"></i>Cant</th>
                    <th><i class="fas fa-percent me-2"></i>IVA</th>
                    <th><i class="fas fa-tag me-2"></i>Dto</th>
                    <th><i class="fas fa-dollar-sign me-2"></i>Precio</th>
                    <th><i class="fas fa-calculator me-2"></i>Total</th>
                    <th class="text-center me-2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="compra : ${compras}">
                    <td th:text="${compra.codigo}"></td>
                    <td th:text="${compra.proveedor.nombreProveedor}"></td>
                    <td th:text="${compra.nombre}"></td>
                    <td th:text="${#dates.format(compra.fecha, 'dd/MM/yyyy')}"></td>
                    <td th:text="${compra.cantidad}"></td>
                    <td th:text="${#numbers.formatDecimal(compra.iva, 1, 'POINT', 0, 'COMMA')} + ' %'"></td>
                    <td th:text="${#numbers.formatDecimal(compra.descuento, 1, 'POINT', 0, 'COMMA')} + ' %'"></td>
                    <td th:text="${#numbers.formatDecimal(compra.precio, 1, 'POINT', 0, 'COMMA')} + ' $'"></td>
                    <td th:text="${#numbers.formatDecimal(compra.total, 1, 'POINT', 0, 'COMMA')} + ' $'"></td>
                    <td class="text-center action-buttons">
                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" th:data-bs-target="${'#editarModal' + compra.id}">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm ms-2 eliminar-compra-btn" data-bs-toggle="modal" th:data-bs-target="${'#eliminarModal' + compra.id}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <div id="pagination-container">
            <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
    </div>

    <!-- Modal Agregar Compra -->
    <div class="modal fade" id="agregarCompraModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-plus-circle me-2"></i>Agregar Compra
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form th:action="@{/compras/agregar}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="codigoAdd" class="form-label">Código</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-hashtag"></i>
                                </span>
                                    <input type="text" class="form-control" id="codigoAdd" name="codigo" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="proveedorAdd" class="form-label">Proveedor</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-truck"></i>
                                </span>
                                    <select class="form-control" id="proveedorAdd" name="proveedor.id" required>
                                        <option th:each="proveedor : ${proveedores}"
                                                th:value="${proveedor.id}"
                                                th:text="${proveedor.nombreProveedor}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombreAdd" class="form-label">Producto</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                                    <input type="text" class="form-control" id="nombreAdd" name="nombre" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="fechaAdd" class="form-label">Fecha</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                    <input type="date" class="form-control" id="fechaAdd" name="fecha" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="cantidadAdd" class="form-label">Cantidad</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-list-ol"></i>
                                </span>
                                    <input type="number" class="form-control" id="cantidadAdd" name="cantidad" min="0"
                                           step="1" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="ivaAdd" class="form-label">IVA (%)</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-percent"></i>
                                </span>
                                    <input type="number" step="0.01" class="form-control" id="ivaAdd" name="iva"   min="0"  max="100" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="descuentoAdd" class="form-label">Descuento (%)</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-tag"></i>
                                </span>
                                    <input type="number" step="0.01" class="form-control" id="descuentoAdd" name="descuento"  min="0"  max="100" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="precioAdd" class="form-label">Precio Unitario</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                                    <input type="number" step="0.01" min="0" class="form-control" id="precioAdd" name="precio" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="totalAdd" class="form-label">Total</label>
                                <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fas fa-calculator"></i>
                                            </span>
                                    <input type="number" step="0.01" class="form-control" id="totalAdd" name="total" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-times me-2"></i>Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save me-2"></i>Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Editar Compra -->
    <div th:each="compra : ${compras}" th:id="${'editarModal' + compra.id}" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-edit me-2"></i>Editar Compra
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form th:action="@{/compras/editar/{id}(id=${compra.id})}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label th:for="${'codigoEdit' + compra.id}" class="form-label">Código</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-hashtag"></i>
                                </span>
                                    <input type="text" class="form-control" th:id="${'codigoEdit' + compra.id}"
                                           name="codigo" th:value="${compra.codigo}" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="proveedorEdit" class="form-label">Proveedor</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-truck "></i>
                                </span>
                                    <select class="form-control" id="proveedorEdit" name="proveedor.id" required>
                                        <option th:each="proveedor : ${proveedores}"
                                                th:value="${proveedor.id}"
                                                th:selected="${proveedor.id == compra.proveedor.id}"
                                                th:text="${proveedor.nombreProveedor}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombreEdit" class="form-label">Producto</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-box"></i>
                                </span>
                                    <input type="text" class="form-control" id="nombreEdit" name="nombre" th:value="${compra.nombre}" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="fechaEdit" class="form-label">Fecha</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                    <input type="date" class="form-control" id="fechaEdit" name="fecha" th:value="${#dates.format(compra.fecha, 'yyyy-MM-dd')}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="cantidadEdit" class="form-label">Cantidad</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-list-ol"></i>
                                </span>
                                    <input type="number" class="form-control" id="cantidadEdit" name="cantidad" th:value="${compra.cantidad}"  min="0"  step="1" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="ivaEdit" class="form-label">IVA (%)</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-percent"></i>
                                </span>
                                    <input type="number" step="0.01" class="form-control" id="ivaEdit" name="iva" th:value="${compra.iva}"   min="0"  max="100"  required>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="descuentoEdit" class="form-label">Descuento (%)</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-tag"></i>
                                </span>
                                    <input type="number" step="0.01" class="form-control" id="descuentoEdit" name="descuento" th:value="${compra.descuento}"   min="0"  max="100" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="precioEdit" class="form-label">Precio Unitario</label>
                                <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                                    <input type="number" step="0.01 " min="0"  class="form-control" id="precioEdit" name="precio" th:value="${compra.precio}" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:for="'totalEdit' + ${compra.id}" class="form-label">Total</label>
                                <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calculator"></i>
                                                </span>
                                    <input type="number" step="0.01" class="form-control"
                                           th:id="'totalEdit' + ${compra.id}"
                                           name="total"
                                           th:value="${compra.total}"
                                           readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-times me-2"></i>Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Compra -->
    <div th:each="compra : ${compras}" th:id="${'eliminarModal' + compra.id}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-exclamation-triangle text-danger me-2"></i>
                        Confirmar Eliminación
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar la compra con ID <strong th:text="${compra.id}"></strong>?</p>
                    <p class="text-danger">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        Esta acción no se puede deshacer.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>Cancelar
                    </button>
                    <a th:href="@{/compras/eliminar/{id}(id=${compra.id})}" class="btn btn-danger">
                        <i class="fas fa-trash me-2"></i>Eliminar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<footer class="footer mt-5">
    <div class="container text-center">
        <span>© 2024 Sistema de Gestión de Compras</span>
    </div>
</footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:src="@{/js/listarCompras.js}"></script>

</body>
</html>