
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${titulo}">Listado de Fruvert</title>
    <link rel="stylesheet" th:href="@{/css/listarFruvert.css}">
</head>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/3082/3082011.png" type="image/x-icon">
<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<body>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <span class="sidebar-title">Seccion Frutas</span>
    </div>

    <div class="menu-section-title">MENU PRINCIPAL </div>
    <a href="javascript:void(0);" class="nav-link" onclick="abrirVentana(this.href)" th:href="@{/listarFruvert}">
        <i class="fas fa-apple-alt me-2"></i> Frutas
    </a>

    <a href="javascript:void(0);" class="nav-link" onclick="abrirVentana(this.href)" th:href="@{/listarCarnes}">
        <i class="fas fa-drumstick-bite me-2"></i> Carnes
    </a>

    <a href="javascript:void(0);" class="nav-link" onclick="abrirVentana(this.href)" th:href="@{/listarVerduras}">
        <i class="fas fa-carrot me-2"></i> Verduras
    </a>

    <a href="javascript:void(0);" class="nav-link" onclick="abrirVentana(this.href)" th:href="@{/Fruvert}">
        <i class="fas fa-home me-2"></i> Menu
    </a>

    <div class="menu-section-title mt-3">CONFIGURACIÓN</div>

    <form th:action="@{/logout}" class="btn-cerrarSesion" method="post">
        <button class="btn btn-danger">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </button>
    </form>
</div>

<!-- Contenido Principal -->
<div class="content">
    <button class="btn btn-dark m-3 toggle-btn" onclick="toggleSidebar()">☰</button>


    <!-- Buscador unificado -->
    <div class="search-container">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar por ID o nombre...">
        <i class="bi bi-search"></i>
    </div>

    <h4 class="card-title text-center my-4">
        <a th:href="@{/formFruvert}" class="btn btn-primary">Agregar Fruvert +</a>
    </h4>

    <div class="container">
        <div class="row-position" id="productContainer">
            <div class="col-md-3 product-item" th:each="fruta : ${fruverts}" th:data-id="${fruta.codigo}" th:data-name="${fruta.nombre}">
                <div class="card product-card my-2">
                    <div class="card-image" data-bs-toggle="modal" th:data-bs-target="'#productModal-' + ${fruta.id}">
                        <p class="product-name" th:text="${fruta.nombre}"></p>
                        <img th:src="@{/img/product/Frutas/{nombre}.webp(nombre=${fruta.nombre})}" class="card-img-top" th:alt="${fruta.nombre}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modales -->
<div th:each="fruta : ${fruverts}">
    <div class="modal fade" th:id="'productModal-' + ${fruta.id}" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel" th:text="${fruta.nombre}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <p th:text="'Código de barras: ' + ${fruta.codigo}"></p>
                    <p th:text="'Cantidad: ' + ${fruta.existencia}"></p>
                    <p th:text="'Precio: $' + ${#numbers.formatDecimal(fruta.precio, 1, 2)} + '/kg'"></p>
                    <p th:text="'IVA: $' + ${#numbers.formatDecimal(fruta.iva, 1, 2)}"></p>
                    <p th:text="'DTO: $' + ${#numbers.formatDecimal(fruta.descuento, 1, 2)}"></p>
                    <p th:text="'Precio final: $' + ${#numbers.formatDecimal(fruta.precio_final, 1, 2)}"></p>
                    <a th:href="@{/form/fruvert/{id}(id=${fruta.id})}" class="btn btn-warning">Modificar</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/listarFruvert.js}"></script>
<!-- Scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>